body{
    font-size: 14px;
    background-image: url("uploads/12345.jpg");
    height: 100vh;
    background-size: cover;
    background-blend-mode: multiply;
}

.navbar-nav{
    margin-left: 78px;
}

.btn-outline-danger{
    margin-left: 450px;
}

.action{
    text-align: center;
}

.delete-table {
    color: red;
    text-align: center;
}

.update-table{
    color: #28a745;
}

.td-update{
    text-align: center;
}

.td-delete{
    text-align: center;
}

.container{
    background-color: white;
}

.add-button{
    color: #28a745;
    font-size: 18px;
}

a.add-button{
    margin-left: 25px;
}

.container-fluid{
    background-image: url("uploads/background-trang-dep_120724898.png");
    padding-left: 77px;
    padding-top: 15px;
}

.h3, h3{
    margin-bottom: 15px;
    padding-top: 10px;
}

.form-inline{
    margin-left: 66px;
}

#search-category {
    margin-right: 5px;
}

.btn{
    font-size: 14px;
}

.form-control{
    font-size: 14px;
}

#list-back{
    margin-bottom: 15px;
}

#search-borrow{
    width: 340px;
}

#borrow-fluid{
    padding-top: 0px;
}

.form-control{
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-outline-secondary{
    margin-bottom: auto;
}

#container-book{
    border-radius: 10px;
    width: 40%;
    margin-bottom: 150px;
}

#add-all{
    margin-bottom: 15px;
    background-color: #28a745;
    border-color: #28a745;
}

#book-h3{
    color: #28a745;
}

#back-add{
    margin-bottom:15px;
}

#table-id{
    margin-bottom: 15px;
}

#idTable{
    width: 55%;
}

#button-id{
    padding-left: 0px;
    margin-left: 0px;
}

#sb-borrow {
    margin-left: 5px;
    width: 8%;
    height: 38px;
    margin-bottom: 16px;
}

.mb-3{
    width: 30%;
    font-size: 12px;
}

#full{
    padding-top: 0px;
}

#search-full{
    width: 30%;
}