body{
    font-size: 14px;
    background-color: darkgray;
}

.navbar-nav{
    margin-left: 68px;
}

.btn-outline-danger{
    margin-left: 427px;
}

.action{
    text-align: center;
}

.delete-table {
    color: red;
    text-align: center;
}

.update-table{
    color: #12df12;
}

.td-update{
    text-align: center;
}

.td-delete{
    text-align: center;
}

.container{
    background-color: white;
}

.add-button{
    color: #12df12;
    font-size: 18px;
}

.container-fluid{
    background-color: white;
    padding-left: 77px;
    padding-top: 15px;
}

.h3, h3{
    margin-bottom: 15px;
    padding-top: 10px;
}

.form-inline{
    margin-left: 66px;
}

#search-category {
    margin-right: 5px;
}